<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LAIMI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js")

</head>
<body>
    <div class="red-top-line"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("LAIMI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>        
        </div>
    </div>
    
    <div class="nav-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Suministros</a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Buscar suministro", "Index", "SupplyCategories")</li>                    
                    <li>@Html.ActionLink("Undefined", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nuevo tipo de suministro", "ChooseAddType", "SupplyCategories")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activos</a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Buscar activo", "Index", "AssetCategories")</li>                    
                    <li>@Html.ActionLink("Undefined", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nuevo activo", "ChooseAddType", "AssetCategories")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes</a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Undefined", "Index", "Home")</li>
                    <li>@Html.ActionLink("Undefined", "Index", "Home")</li>
                    <li>@Html.ActionLink("Undefined", "Index", "Home")</li>
                </ul>
            </li>
            <li class="dropdown">
                @Html.ActionLink("Usuarios", "ChangePassword", "Account", null, new {@class = "dropdown-toggle"})
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="float: right;">Laboratorio Institucional de Microcomputadoras - @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
