
﻿@model LAIMIStock.Models.Suministros

@{
    if (Session["usuarioID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Index";
    List<SelectListItem> list = new List<SelectListItem>();
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consumo de suministros</title>
</head>
<body>



    @using (Html.BeginForm("UseSupply", "SupplyCategories", FormMethod.Post))
    {
        <div class="container">
            <form className="zp-account-form">
                <h1 class="zp-sign-in--tittle">Consumir suministro</h1>
                <div class="form-input">

                    @Html.DropDownList("Supplies", )
                    <br />
                    @Html.ValidationMessageFor(model => model.password)

                </div>


                <div class="form-input">
                    @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { placeholder = "Contraseña nueva" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.newPassword)

                </div>

                <div class="form-input">
                    @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { placeholder = "Confirmar Contraseña" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.confirmPassword)

                </div>

                <div class="form-input">
                    @Html.RadioButtonFor(model => model.nombre, "Administrador", new { @checked = "checked" })
                    @Html.LabelFor(model => model.nombre, "Administrador")
                    @Html.RadioButtonFor(model => model.nombre, "Operador")
                    @Html.LabelFor(model => model.nombre, "Operador")
                </div>

                <div class="group">
                    <label class="field-validation-error">@Html.DisplayFor(model => model.UpdatePasswordErrorMessage)</label>
                </div>

                <button type="submit" class="btn-success">
                    CAMBIAR
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
            </form>
        </div>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>

