﻿@model LAIMIStock.Models.Bitacora
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "ReportSupplyConsuption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte de Consumo Suministro</h2>

@using (Html.BeginForm("GenerateReport", "Reports", FormMethod.Post))
{

    @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col">
        @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.fechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col">
        @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn-consultar">
        CONSULTAR
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button><br/>
        
        if (@ViewBag.ConsumoSuministro != null)
        {
            <table id="myTable">
                <tr>
                    <th onclick="sortTable(0)">Nombre</th>
                    <th onclick="sortTable(1)">Fecha</th>
                </tr>
            
            @foreach (var supply in @ViewBag.ConsumoSuministro)
            {
                <tr>     
                    <td>@supply.descripcion</td>
                    <td>@supply.fecha</td>                 
                </tr>
            }
            </table>
        }
    else
    {
        <h4>¡No existe ningún reporte para esa fecha!</h4>
    }

}
