﻿@model IEnumerable<LAIMIStock.Models.Suministros>
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Suministros por laboratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reporte - Suministros por laboratorio</h3>

@if (ViewBag.SupplyPerLab != null)
{
    <table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Código</th>
            <th onclick="sortTable(1)">Nombre</th>
            <th onclick="sortTable(2)">Descripción</th>
            <th onclick="sortTable(3)">Cantidad</th>
            <th onclick="sortTable(4)">Localización</th>
        </tr>

        @foreach (var supply in ViewBag.SupplyPerLab)
        {
            <tr>
                <td>@supply.codigo</td>
                <td>@supply.nombre</td>
                <td>@supply.descripcion</td>
                <td>@supply.cantidad</td>
                <td>@supply.localizacion</td>
            </tr>
        }
      </table>
}
else
{
    <h4>¡No existe ningún reporte para suministro por laboratorio!</h4>
}

