@model LAIMIStock.Models.Activos
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Editar activo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edite el activo</h2>

@using (Html.BeginForm("EditAsset", "AssetCategories", new { @idActivo = Model.idActivo }, FormMethod.Post))
{
    <label for="codigo">Código</label>
    @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @id = "codigo", required = "required" })
    <label for="nombre">Nombre</label>
    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @id = "nombre", required = "required" })
    <label for="descripcion">Descripción</label>
    @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @id = "descripcion" })
    <label for="precio">Precio</label>
    @Html.TextBoxFor(model => model.precio, new { @class = "form-control", @id = "precio", @type = "number" })
    <label for="fecha-expiracion">Fecha de expiración</label>
    @Html.TextBoxFor(model => model.fechaExpiracion, new { @class = "form-control datecontrol", @type = "date", @id = "fecha-expiracion" })
    <label for="localizacion">Localización</label>
    @Html.TextBoxFor(model => model.localizacion, new { @class = "form-control", @id = "localizacion" })
    <label for="estado">Estado, 1 para activo - 2 para inactivo</label>
    @Html.TextBoxFor(model => model.estado, new { @class = "form-control", @id = "estado", required = "required" })
    <label for="categoria">Categoría</label>
    @Html.DropDownListFor(model => model.idCategoria, ViewBag.CategoriesList as SelectList, "- Seleccione -", new { @class = "form-control", @id = "categoria", required = "required" })

    <input type="submit" value="Editar" class="btn btn-primary" />
}

