@model LAIMIStock.ViewModels.ListCategoriesAViewModel
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["msg"])

<h2>Categorías de Activos</h2>

<div class="img-grid">
    @foreach (var category in Model.Categories)
    {
        <div>
            <a href="@Url.Action("ListAssets", "AssetCategories", new {id = @category.idCategoriaActivo})">
                <img src="@category.imagenURL" height="168" width="168" class="img-item">
            </a>
            <a href="@Url.Action("ListAssets", "AssetCategories", new {id = @category.idCategoriaActivo})" class="category-title">
                @category.nombre
            </a>
        </div>
    }
</div>

