@model LAIMIStock.ViewModels.ListAssetsViewModel
@{
    ViewBag.Title = "Activos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activos</h2>

@if (Model.Activos.Count > 0)
{

    <table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Código</th>
            <th onclick="sortTable(1)">Nombre</th>
            <th onclick="sortTable(2)">Descripción</th>            
            <th onclick="sortTable(3)">Precio</th>
            <th onclick="sortTable(4)">Ingreso</th>
            <th onclick="sortTable(5)">Expiración</th>
            <th onclick="sortTable(6)">Localización</th>
            <th onclick="sortTable(7)">Estado</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var asset in Model.Activos)
        {
            <tr>
                <td>@asset.codigo</td>
                <td>@asset.nombre</td>
                <td>@asset.descripcion</td>
                <td>@asset.precio</td>
                <td>@String.Format("{0:dd/MM/yyyy}", @asset.fechaIngreso)</td>
                <td>@String.Format("{0:dd/MM/yyyy}", @asset.fechaExpiracion)</td>
                <td>@asset.localizacion</td>
                <td>@asset.estado</td>
                <td style="text-align: center;">
                    <a href="@Url.Action("EditAssetForm", "AssetCategories", new {id = @asset.idActivo })">
                        <img src="~/Content/img/edit-icon.jpg" style="height: 15px; width: 15px;" />
                    </a>
                </td>
                <td style="text-align: center;">
                    <a href="@Url.Action("DeleteAssetForm", "AssetCategories", new {id = @asset.idActivo })">
                        <img src="~/Content/img/delete-icon.jpg" style="height: 15px; width: 15px;" />
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>¡No existe ningún activo de esta categoría!</h4>
}



