@model LAIMIStock.Models.Suministros
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Editar suministro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edite el suministro</h2>

@using (Html.BeginForm("EditSupply", "SupplyCategories", new { @idSuministro = Model.idSuministro }, FormMethod.Post))
{
    <label for="codigo">Código</label>
    @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @id = "codigo", required = "required" })
    <label for="nombre">Nombre</label>
    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @id = "nombre", required = "required" })
    <label for="descripcion">Descripción</label>
    @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @id = "descripcion" })
    <label for="fecha-caducidad">Fecha de caducidad</label>
    @Html.TextBoxFor(model => model.fechaCaducidad, "{0:yyyy-MM-dd}", new { @class = "form-control datecontrol", @placeholder = "DateTime", @type = "date", @id = "fecha-caducidad" })
    <label for="precio">Precio</label>
    @Html.TextBoxFor(model => model.precio, new { @class = "form-control", @id = "precio" })
    <label for="objeto-gasto">Objeto gasto</label>
    @Html.TextBoxFor(model => model.objetoGasto, new { @class = "form-control", @id = "objeto-gasto", @type = "number" })
    <label for="localizacion">Localizacion</label>
    @Html.TextBoxFor(model => model.localizacion, new { @class = "form-control", @id = "localizacion" })
    <label for="cantidad">Cantidad</label>
    @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control", @id = "cantidad", @type = "number", required = "required" })
    <label for="limite">Límite mínimo de cantidad</label>
    @Html.TextBoxFor(model => model.limiteSuministro, new { @class = "form-control", @id = "limite", @type = "number", required = "required" })
    <label for="categoria">Categoría</label>
    @Html.DropDownListFor(model => model.idCategoria, ViewBag.CategoriesList as SelectList, "- Seleccione -", new { @class = "form-control", @id = "categoria", required = "required" })

    <button type="submit" class="btn btn-primary">Editar</button>
 }

