@model LAIMIStock.ViewModels.ListSuppliesViewModel
@{
    ViewBag.Title = "Suministros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suministros</h2>

@if (Model.Suministros.Count > 0)
{
    <table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Código</th>
            <th onclick="sortTable(1)">Nombre</th>
            <th onclick="sortTable(2)">Descripción</th>
            <th onclick="sortTable(3)">Cantidad</th>
            <th onclick="sortTable(4)">Precio</th>
            <th></th>
        </tr>

        @foreach (var supply in Model.Suministros)
        {        
            <tr>
                <td>@supply.codigo</td>
                <td>@supply.nombre</td>
                <td>@supply.descripcion</td>
                <td>@supply.cantidad</td>
                <td>@supply.precio</td>
                <td style="text-align: center;">
                    <a href="/SupplyCategories/EditSupplyForm/@supply.idSuministro">
                        <img src="/Content/img/edit-icon.jpg" style="height: 15px; width: 15px;" />
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>¡No existe ningún suministro de esta categoría!</h4>
}


