﻿@model LAIMIStock.Models.Usuarios

@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LAIMI - Cambiar contraseña</title>
    
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>
</head>
<body>



    @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
    {
        <div class="container">
            <form className="zp-account-form">
                <h1 class="zp-sign-in--tittle">Cambio de contraseña</h1>
                <div class="form-input">
                    @Html.Raw(TempData["msg"])

                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { placeholder = "Contraseña actual" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.password)

                </div>


                <div class="form-input">
                    @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { placeholder = "Contraseña nueva" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.newPassword)

                </div>

                <div class="form-input">
                    @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { placeholder = "Confirmar Contraseña" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.confirmPassword)

                </div>

                <div class="form-input">
                    @Html.RadioButtonFor(model => model.nombre, "Administrador", new { @checked = "checked" })
                    @Html.LabelFor(model => model.nombre, "Administrador")
                    @Html.RadioButtonFor(model => model.nombre, "Operador")
                    @Html.LabelFor(model => model.nombre, "Operador")
                </div>

                    <div class="group">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.UpdatePasswordErrorMessage)</label>
                    </div>

                    <button type="submit" class="btn-success">
                        CAMBIAR
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
</form>
        </div>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>
